{% extends "::layout.html.twig" %}

{%  block body %}
    {{ parent() }}

    <div id="message_accueil">
        <h2>Le musée du Louvre vous accueil</h2>
        <p>
            Vous pouvez dès à présent réserver un ou plusieurs billet(s) grâce à notre billetterie. Choisissez le jour, le type et le nombre de billets que vous souhaitez.
        </p>
        <p>
            Vous receverez vos billets à l'adresse e-mail renseignée dans le formulaire.
        </p>
    </div>

{% endblock %}