body
{
    background-image: url(../images/louvres-1525621_1920.jpg);

}

.container
{
    border: 2px solid black;
    padding: 0;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7),
    -1px 2px 20px rgba(255, 255, 255, 0.6) inset;
}

/* HEADER */
#header
{
    min-width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    background-color: rgba(26, 26, 26, 0.90);
}

#titre_header
{
    text-align: center;
    margin: auto;
    font-size: 2em;
    font-weight: bold;
    color: white;
}

/* ==========================================*/

/* MESSAGE ACCUEIL */
#message_accueil
{
    background-color: rgba(255, 255, 255, 0.90);
}

#message_accueil > h2
{
    text-decoration: underline;
    font-size: 1.5em;
    margin-bottom: 25px;
    margin-left: 15px;
    padding-top: 10px;
    font-family: 'Roboto', Arial, sans-serif;
}

#message_accueil p
{
    padding-bottom: 15px;
    margin-left: 15px;
    font-family: 'Roboto', Arial, sans-serif;
}

#ancreHoraire
{
    background-color: rgba(255, 255, 255, 0.90);
    padding: 15px;
    font-family: 'Roboto', Arial, sans-serif;
}

/* FORMULAIRE */

.datepicker
{
    width: 200px;
}

#titre_formulaire
{
    height: 35px;
    background: grey;
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
    font-family: 'Roboto', Arial, sans-serif;
}

.formulaire
{
    background-color: rgba(255, 255, 255, 0.90);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.date-type
{
    margin:25px;
    display: flex;
    justify-content: space-around;
}

.conteneurFormTicket
{
    padding-right: 15px;
    padding-left: 15px;
}
.text-oblig-Un
{
    font-style: italic;
    font-size: 0.9em;
    margin: 15px;
    font-family: 'Roboto', Arial, sans-serif;
}

.text-oblig-deux
{
    font-style: italic;
    font-size: 0.9em;
    font-family: 'Roboto', Arial, sans-serif;
}

#add_ticket
{
    margin-bottom: 25px;
    font-family: 'Roboto', Arial, sans-serif;
}

#text-tarifReduit
{
    font-style: italic;
    font-size: 0.9em;
    font-family: 'Roboto', Arial, sans-serif;
    margin: 15px;
}

.form_tickets
{
    width: 100%;
}


.nom{
    margin-right: 15px;
    margin-top: 15px;
    font-family: 'Roboto', Arial, sans-serif;

}

.prenom
{
    margin-right: 15px;
    margin-top: 15px;
    font-family: 'Roboto', Arial, sans-serif;
}

.dateNaissance
{
    margin-right: 15px;
}

.select{
    width: 100px;
    margin-top: 15px;
    font-family: 'Roboto', Arial, sans-serif;
}

.checkbox{

    margin-left: 15px;
    margin-top: 15px;
    font-family: 'Roboto', Arial, sans-serif;
}

.titreTicket
{
    height: 35px;
    background: grey;
    text-align: center;
    padding-top: 10px;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    font-weight: bold;
    font-family: 'Roboto', Arial, sans-serif;
}

.suppr
{
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Roboto', Arial, sans-serif;
}

hr{
    height: 2px;
    background-color: black;
}


#email
{
    margin-bottom: 30px;
    margin-top: 25px;
    text-align: center;
    font-family: 'Roboto', Arial, sans-serif;
}

#email input
{
    width: 300px;
    margin-left: 38%;
}

#text-email
{
    text-decoration: underline;
    font-weight: bold;
    font-family: 'Roboto', Arial, sans-serif;
}

#horaireTarif
{
    background-color: rgba(168, 0, 0, 0.90);
    display: flex;
    justify-content: space-around;
    border-top: 1px solid black;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    font-family: 'Roboto', Arial, sans-serif;
}

#horaireTarif h4
{
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.2em;
    margin-bottom: 5px;
    font-family: 'Roboto', Arial, sans-serif;
}


/* ============================================== */

/* RECAP DE LA COMMANDE */

#page_recap
{
    height: 100%;
    padding-top: 25px;
    background-color: rgba(255, 255, 255, 0.90);
}


#recapCommande
{
    margin-bottom: 30px;
}

#recapCommande p{
    margin-top: 15px;
    margin-left: 10%;
    font-family: 'Roboto', Arial, sans-serif;
}

#titreRecap
{
    font-weight: bold;
    font-size: 1.4em;
    margin-left: 10%;
    margin-bottom: 30px;
    font-family: 'Roboto', Arial, sans-serif;
}

#tableauRecap
{
    border-collapse: collapse;
    margin: auto;
    width: 60%;
}

#tableauRecap td
{
    border: 1px solid black;
    padding:5px;
    text-align: center;
}

#tableauRecap th
{
    border: 1px solid black;
    font-weight: bold;
    font-size: 1.2em;
    padding: 5px;
    text-align: center;
    background-color: rgba(66, 150, 179, 0.70);
    font-family: 'Roboto', Arial, sans-serif;
}

#montantTotal
{
    margin-top: 25px;
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 1.3em;
    margin-left: 60%;
    font-family: 'Roboto', Arial, sans-serif;
}

#checkCgv
{
    margin-left: 35%;
    margin-bottom: 40px;
    margin-right: 15px;
    font-family: 'Roboto', Arial, sans-serif;
}

#BoutonPaiement
{
    display: flex;
    margin-left: 35%;
    padding-bottom: 40px;
}

#prixZero
{
    font-family: 'Roboto', Arial, sans-serif;
    text-decoration: none;
    border: 2px solid green;
    border-radius: 10px;
    padding: 5px;
}

#lienRetour
{
    margin-left: 15px;
    margin-top: 10px;
    font-family: 'Roboto', Arial, sans-serif;
}


/* ================================================ */

/* PAGE DE CONFIRMATION */

#confirmation
{
    background-color: rgba(255, 255, 255, 0.90);
}

#confirmation h1
{
    padding-top: 25px;
    font-weight: bold;
    font-size: 1.4em;
    margin-left: 15px;
    margin-bottom: 25px;
    color: limegreen;
    font-family: 'Roboto', Arial, sans-serif;
}

#confirmation p
{
    margin: 15px;
    font-family: 'Roboto', Arial, sans-serif;
}

#lienConfirmation
{
    display: flex;
    margin-left: 35%;
    margin-top: 35px;
    margin-bottom: 20px;
    font-family: 'Roboto', Arial, sans-serif;

}

#retourAccueil
{
    margin-top: -12px;
    font-family: 'Roboto', Arial, sans-serif;
}


/* FOOTER */
footer
{
    background-color: rgba(26, 26, 26, 0.90);
}
footer ul
{
    display: flex;
    justify-content: center;
}

footer li
{
    margin-right: 20px;
    color: white;
}

footer a
{
    font-size: 0.9em;
    color: white;
    text-decoration: none;
    text-transform: none;
    font-family: 'Roboto', Arial, sans-serif;
}

footer a:hover
{
    color: red;
}

footer p
{
    color: white;
    font-style: italic;
    font-size: 0.8em;
    margin-top: 10px;
    text-align: center;
    font-family: 'Roboto', Arial, sans-serif;

}


/* =============================== */

/* MEDIA QUIERIES */

@media screen and (max-width: 720px){

    #titre_header
    {
        font-size: 1.5em;
    }

    #message_accueil p
    {
        font-size: 0.8em;
    }

    #titre_formulaire
    {
        font-size: 0.8em;
    }

    .date-type
    {
        display: block;
    }

    .titreTicket
    {
        font-size: 0.8em;
    }

    .text-oblig-Un
    {
        font-size: 0.8em;
    }

    .text-oblig-deux
    {
        font-size: 0.8em;
    }

    #text-tarifReduit
    {
        font-size: 0.8em;
    }

    #email
    {
        text-align: inherit;
        margin: auto;
    }

    #email input
    {
        width: 300px;
        margin-left: 0;

    }

    #text-email
    {
        margin-bottom: 15px;
    }

    #horaireTarif div
    {
        font-size: 0.8em;
    }

    #titreRecap
    {

        font-size: 1em;
    }

    #tableauRecap th
    {
        font-size: 0.7em;
    }

    #tableauRecap td
    {
        font-size: 0.7em;
    }

    #montantTotal
    {

        font-size: 0.8em;
        margin-left: 50%;
    }

    #checkCgv
    {
        margin-left: 15px;

    }

    #cgv
    {
        font-size: 0.7em;
    }

    #BoutonPaiement
    {
        font-size: 0.7em;
        margin-left: 10%;
        max-width: 100%;
    }

    #lienRetour
    {
        font-size: 0.6em;
    }

    /* ================== */

    #confirmation h1
    {
        font-size: 1.1em;
    }

    #confirmation p
    {
        font-size: 0.8em;
    }

    #lienConfirmation
    {
        margin-left: 15%;
        font-size: 0.8em;
    }

    #retourAccueil
    {
        font-size: 0.8em;
    }

}