body
{
    background-image: url(../images/louvres-1525621_1920.jpg);

}

.container
{
    border: 2px solid black;
    padding: 0;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7),
    -1px 2px 20px rgba(255, 255, 255, 0.6) inset;
}

/* HEADER */
#header
{
    padding: 0;
    display: flex;
    align-items: center;
    background-color: rgba(26, 26, 26, 0.90);
    margin-bottom: 25px;
    margin-left: 2px;
}

#titre_header
{
    text-align: center;
    margin: auto;
    font-size: 2em;
    font-weight: bold;
    color: white;
}

/* ==========================================*/

/* MESSAGE ACCUEIL */
#message_accueil
{
    background-color: rgba(255, 255, 255, 0.90);
}

#message_accueil > h2
{
    text-decoration: underline;
    font-size: 1.5em;
    margin-bottom: 25px;
    margin-left: 15px;
}

#message_accueil p
{
    padding-bottom: 15px;
    margin-left: 15px;

}

/* FORMULAIRE */

.datepicker
{
    width: 200px;
}

#titre_formulaire
{
    height: 35px;
    background: grey;
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
}

.formulaire
{
    background-color: rgba(255, 255, 255, 0.90);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.date-type
{
    margin:25px;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.conteneurFormTicket
{
    padding-right: 15px;
    padding-left: 15px;
}
.text-oblig-Un
{
    font-style: italic;
    font-size: 0.9em;
    margin: 15px;
}

.text-oblig-deux
{
    font-style: italic;
    font-size: 0.9em;
}



#add_ticket
{
    margin-bottom: 25px;
}

#text-tarifReduit
{
    font-style: italic;
    font-size: 0.9em;

    margin: 15px;
}

.form_tickets
{
    width: 100%;
}


.nom{
    margin-right: 15px;
    margin-top: 15px;


}

.prenom
{
    margin-right: 15px;
    margin-top: 15px;
}

.dateNaissance
{
    margin-right: 15px;
}

.select{
    width: 100px;
    margin-top: 15px;
}

.checkbox{

    margin-left: 15px;
    margin-top: 15px;
}

.titreTicket
{
    height: 35px;
    background: grey;
    text-align: center;
    padding-top: 10px;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    font-weight: bold;
}

.suppr
{
    margin-top: 15px;
    margin-bottom: 15px;
}

hr{
    height: 2px;
    background-color: black;
}


#email
{
    margin-bottom: 30px;
    margin-top: 25px;
}

#text-email
{
    text-decoration: underline;
    font-weight: bold;
}


/* ============================================== */

/* RECAP DE LA COMMANDE */

#page_recap
{
    height: 100%;
}

#recapCommande p{
    margin-top: 15px;
    margin-left: 10%;
}

#titreRecap
{
    font-weight: bold;
    font-size: 1.4em;
    margin-left: 10%;
    margin-bottom: 30px;
}

#montantTotal
{
    margin-top: 25px;
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 1.3em;
    margin-left: 60%;
}

#checkCgv
{
    margin-left: 35%;
    margin-bottom: 40px;
    margin-right: 15px;
}

#BoutonPaiement
{
    display: flex;
    margin-left: 35%;
    margin-bottom: 40px;
}

#lienRetour
{
    margin-left: 15px;
    margin-top: 10px;
}


/* ================================================ */

/* FOOTER */
footer
{
    background-color: rgba(26, 26, 26, 0.90);
}
footer ul
{
    display: flex;
    justify-content: center;
}

footer li
{
    margin-right: 20px;
    color: white;
}

footer a
{
    font-size: 0.9em;
    color: white;
    text-decoration: none;
    text-transform: none;
}

footer a:hover
{
    color: red;
}

footer p
{
    color: white;
    font-style: italic;
    font-size: 0.8em;
    margin-top: 10px;
    text-align: center;

}

/* =============================== */

/* PAGE RECAPITULATIF DE COMMANDE */
#page_recap
{
    background-color: rgba(255, 255, 255, 0.90);
}

/* =============================== */

